<mat-toolbar color="primary">
  <span>Coaching</span>
  <span class="spacer"></span>
	<button mat-icon-button><mat-icon class="icon" [routerLink]="['/']">dashboard</mat-icon></button>
  <button mat-icon-button><mat-icon class="icon" [routerLink]="['people']">group</mat-icon></button>

	<mat-menu #settingsMenu="matMenu">
	  <button mat-menu-item> Settings </button>
	  <button mat-menu-item> Help </button>
		<button mat-menu-item (click)="logout()"> Sign Out </button>
	</mat-menu>

	<button mat-icon-button [matMenuTriggerFor]="settingsMenu">
		<mat-icon class="icon">more_vert</mat-icon>
	</button>
</mat-toolbar>
