.request-card {
	width: 250px;
	display: block;
	margin: 1em auto 0;
}

.profile-name,
.profile-goal {
	text-align: center;
}

.profile-goal {
	margin: 0 auto;
}

.coach {
	margin: 24px 0 12px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 12px 0;
}

.coach .mat-card-subtitle {
	margin-bottom: 0;
}

.profile-image {
  width: 100px;
  height: 100px;
	margin: 0 auto 12px;
	background-size: cover;
	background-position: center;
}

.request-card .mat-button {
	margin: 12px auto;
}

.new-badge {
  display: block;
  color: #fff;
  background: #673ab7;
  width: 50px;
  padding: 4px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 12px;
  left: -10px;
}

.new-badge::before {
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 10px solid #270a77;
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
}
