<mat-card class="request-card" *ngIf="person">
  <div class="new-badge" *ngIf="person['hasBadge']">NEW</div>
	<div mat-card-avatar class="profile-image" *ngIf="person['image']" [ngStyle]="{'background-image': 'url(' + person['image'] + ')'}"></div>
	<mat-card-title class="profile-name">{{ person['firstName'] }} {{ person['lastName'] }}</mat-card-title>
	<mat-chip-list>
		<mat-chip class="profile-goal" *ngIf="person['goal']">{{ person['goal'] }}</mat-chip>
	</mat-chip-list>
	<mat-card-header class="coach" *ngIf="person['coach']">
		<div mat-card-avatar *ngIf="person['coach']['image']" [ngStyle]="{'background-image': 'url(' + person['coach']['image'] + ')'}"></div>
		<mat-card-title>{{ person['coach']['firstName'] }} {{ person['coach']['lastName'] }}</mat-card-title>
		<mat-card-subtitle>Pending Acceptance</mat-card-subtitle>
	</mat-card-header>
	<mat-card-actions>
		<button mat-raised-button *ngIf="person['coach'] && user.uid === person['coach']['id']" color="primary" (click)="acceptAssignment(person['assignmentId'])">ACCEPT</button>
    <button mat-button *ngIf="person['coach'] && user.uid !== person['coach']['id']" (click)="sendReminder($event.target, person['coach']['email'])">SEND REMINDER</button>
		<button mat-button *ngIf="person['type'] === 'REQUEST'" (click)="assignPerson(person.id)">ASSIGN</button>
    <button mat-button (click)="viewProfile(person.id)">VIEW PROFILE</button>
		<button mat-raised-button *ngIf="person['type'] === 'COACH'" (click)="assignPersonTo(person['pbcId'], person['id'])" color="primary">ASSIGN</button>
  </mat-card-actions>
</mat-card>
