<div id="wrapper">
	<div class="login-modal">
		<h1>Coaching Portal</h1>
		<p>Login with your Flatland Church Account</p>
		<form #loginForm="ngForm">
			<md-input-container>
				<input mdInput placeholder="Email Address"  [(ngModel)]="user.email" name="email" type="email">
			</md-input-container>
			<md-input-container>
				<input mdInput placeholder="Password"  [(ngModel)]="user.password" name="password" type="password">
			</md-input-container>
			<button type="submit" md-raised-button color="primary" (click)="login()">Login</button>
			<button type="button" md-button>Forgot Password?</button>
		</form>
	</div>
</div>
