<mat-card class="request-card" *ngIf="requestData">
	<div class="indicator {{ requestData['status'] }}"></div> <!-- Stuff -->
	<div class="request-card-meta">
		<mat-card-title>{{ requestData['goal'] || 'No Goal' }}</mat-card-title>
		<mat-card-subtitle *ngIf="requestData['assigned'] && !requestData['started']"><strong>Date Assigned:</strong> {{ requestData['assigned'] }}</mat-card-subtitle>
		<mat-card-subtitle *ngIf="requestData['started']"><strong>Date Started:</strong> {{ requestData['started'] }}</mat-card-subtitle>
		<mat-card-subtitle *ngIf="requestData['completed']"><strong>Date Completed:</strong> {{ requestData['completed'] }}</mat-card-subtitle>
	</div>
	<div *ngIf="requestData['coach']" class="request-card-coach" [routerLink]="['/person/', requestData['coach']['id']]">
		<mat-card-subtitle>Coach</mat-card-subtitle>
		<div mat-card-avatar class="request-card-image" [ngStyle]="{'background-image': 'url(' + requestData['coach']['image'] + ')'}"></div>
		<mat-card-title class="request-card-name">{{ requestData['coach']['firstName'] }}</mat-card-title>
		<div class="request-rating" *ngIf="requestData['coach']['rating']">
			<mat-icon>thumb_up</mat-icon>
			<mat-icon>thumb_down</mat-icon>
		</div>
	</div>
	<div *ngIf="!requestData['coach']" class="request-card-coach">
		<mat-card-actions>
			<button mat-button (click)="assignPerson(id)">ASSIGN</button>
		</mat-card-actions>
	</div>
</mat-card>
