<mat-card *ngIf="person">
	<div *ngIf="person['image']" mat-card-avatar class="profile-image" [ngStyle]="{'background-image': 'url(' + person['image'] + ')'}"></div>
	<mat-card-title class="profile-name">{{ person['firstName'] }} {{ person['lastName'] }}</mat-card-title>
	<mat-chip-list class="profile-stage">
		<mat-chip color="accent" selected="true">{{ person['stage'] }}</mat-chip>
		<mat-chip *ngIf="person['status'] == 'ACTIVE'">Active</mat-chip>
		<mat-chip *ngIf="!person['status'] == 'ACTIVE'">Inactive</mat-chip>
		<mat-chip *ngIf="person['isCoach']">Coach</mat-chip>
		<mat-chip *ngIf="person['isAdmin']">Admin</mat-chip>
	</mat-chip-list>
	<div class="contact-info" *ngIf="person">
		<mat-icon (click)="callPhone(person['phone'])">phone</mat-icon>
		<mat-icon (click)="openEmail(person['email'])">email</mat-icon>
	</div>
	<mat-card-content class="bio" *ngIf="person['bio']"><strong>About {{ person['firstName'] }}</strong>{{ person['bio'] }}</mat-card-content>
	<mat-card-content class="availability" *ngIf="person['availability']"><strong>Availability</strong>{{ person['availability'] }}</mat-card-content>
</mat-card>
<mat-card>
	<mat-input-container>
		<mat-icon matPrefix>search</mat-icon>
		<input matInput placeholder="Search Coaches" #searchTerm value="" (keyup)="searchCoaches(searchTerm)">
	</mat-input-container>
</mat-card>
<div class="card-container">
	<person-card *ngFor="let coach of coaches" [person]="coach"></person-card>
</div>
