.profile-name {
	text-align: center;
	padding-top: 1em;
}

.profile-stage {
	max-width: 290px;
  margin: 0 auto;
  display: block;
	width: 100%;
}

.mat-chip {
	margin: auto;
}

.contact-info {
  width: 25%;
  display: flex;
  margin: .5em auto;
}

.contact-info .mat-icon {
  padding: 5px;
  background: #FFD54F;
  border-radius: 100px;
  margin: auto;
  color: rgba(255,255,255,0.87);
	cursor: pointer;
}

.mat-card-content {
	width: 60%;
	margin: 0 auto;
	display: block;
}

.mat-card-content strong {
	display: block;
	margin-top: 2em;
}

.mat-card-content:first-of-type {
	margin-top: 3em;
}

.profile-image {
  width: 100px;
  height: 100px;
	margin: 0 auto;
	background-size: cover;
	background-position: center;
}

.contacts {
	width: 100%;
	display: flex;
	margin: 0 auto 12px;
	align-items: center;
	justify-content: center;
  flex-wrap: wrap;
}

.contacts > p {
	display: flex;
	align-items: center;
	margin: 0 8px;
}

.contacts > p > a {
	margin-left: 4px;
}

@media screen and (max-width: 640px) {
	.mat-card-content {
		width: 90%;
	}
}
